* {
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background: url('/Images/background.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: transparent;
    display: flex;
    align-items: center;
    z-index: 100;
}
.navlogo{
    width: 65px;
    height: auto;
} 
.navtitle{
    font-size: 30px;
    color: orangered;
    text-shadow: black;
    text-decoration: none;
    font-weight: 700;
    margin-right: auto;
}
.navbar .btn{
    font-size: 20px;
    color: orangered;
    text-decoration: none;
    font-weight: 500;
    text-align: right;
}
.main{
    padding: 50px;
}

.app{
    background: aliceblue;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
}
.app h1{
    font-size: 25px;
    color: #001e4d;
    font-weight: 600;
    border-bottom: 1px solid #333;
    padding-bottom: 30px;
}
.quiz {
    padding: 20px 0;
}
.quiz h2 {
    font-size: 18px;
    color: #001e4d;
    font-weight: 600;
}
.quizbtn {
    background: #fff;
    color: #222;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}
.quizbtn:hover:not([disabled]){
    background: #222;
    color: #fff;
}
.quizbtn:disabled{
    cursor: no-drop;
}
#nextbtn {
    background: #001e4d;
    color: #fff;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}
.correct {
    background: #9aeabc;
}
.incorrect {
    background: #ff9393;
}

.portline{
    background-color: gray;
    height: 1.5px;
}
.portline1{
    background-color: indigo;
    height: 1.5px;
    width: 100%;
}
.portline2{
    background-color: indigo;
    height: 1.5px;
    width: 90%;
}
.portline3{
    background-color: indigo;
    height: 1.5px;
    width: 80%;
}
.portline4{
    background-color: indigo;
    height: 1.5px;
    width: 62%;
}
.portline5{
    background-color: indigo;
    height: 1.5px;
    width: 85%;
}
.portlist{
    display: flex;
    align-items: center;
}
.portlistline{
    background-color: black;
    vertical-align: auto;  
}
.portnav{
    display: flex;
    justify-content: end;
}